:root {
  --font-family: "Onest", sans-serif;
  --content-width: 1280px;
  --content-fluid-width: 1355px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
  --container-fluid-width: calc(
    var(--content-fluid-width) + (var(--container-offset) * 2)
  );
  --light-color: #fff;
  --seashell-color: #f1f1f1;
  --text-color: #1e1e1e;
  --ocean-green-color: #50b880;
  --ocean-two-color: #4eb97f;
  --tuna-color: #323445;
  --havelock-blue-color: #488ce1;
  --surf-crest-color: #d7e7de;
  --east-bay-color: #383b7c;
  --dodger-blu-color: #1e90ff;
}

/* stylelint-disable */
/* stylelint-disable */
/* stylelint-disable */
.custom-checkbox__field:checked + .custom-checkbox__content::after {
  opacity: 1;
}

.custom-checkbox__field:focus + .custom-checkbox__content::before {
  outline: 2px solid #f00;
  outline-offset: 2px;
}

.custom-checkbox__field:disabled + .custom-checkbox__content {
  opacity: 0.4;
  pointer-events: none;
}

/* stylelint-disable */
/* stylelint-disable */
/* stylelint-disable value-keyword-case */
@font-face {
  font-family: "Onest";
  src: url("../fonts/../fonts/OnestRegular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Onest";
  src: url("../fonts/../fonts/OnestMedium.woff2") format("woff2");
  font-weight: 500;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Onest";
  src: url("../fonts/../fonts/OnestSemiBold.woff2") format("woff2");
  font-weight: 600;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Onest";
  src: url("../fonts/../fonts/OnestBold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

.page {
  height: 100%;
  font-family: var(--font-family, sans-serif);
  -webkit-text-size-adjust: 100%;
}

.page__body {
  margin: 0;
  min-width: 320px;
  min-height: 100%;
  font-size: 16px;
  background-color: var(--seashell-color);
}

img {
  height: auto;
  max-width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

a {
  text-decoration: none;
}

.site-container {
  overflow: hidden;
}

.is-hidden {
  display: none !important; /* stylelint-disable-line declaration-no-important */
}

.btn-reset {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.list-reset {
  list-style: none;
  margin: 0;
  padding: 0;
}

.input-reset {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background-color: #fff;
}
.input-reset::-webkit-search-decoration, .input-reset::-webkit-search-cancel-button, .input-reset::-webkit-search-results-button, .input-reset::-webkit-search-results-decoration {
  display: none;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.container {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  max-width: var(--container-width);
}

.container-fluid {
  margin: 0 auto;
  padding: 0 var(--container-offset);
  max-width: var(--container-fluid-width);
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.centered {
  text-align: center;
}

.dis-scroll {
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  -ms-scroll-chaining: none;
  overscroll-behavior: none;
}

.page--ios .dis-scroll {
  position: relative;
}

.grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[12];
  grid-template-columns: repeat(12, 1fr);
  -webkit-column-gap: 20px;
  -moz-column-gap: 20px;
  column-gap: 20px;
}

.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 26px 46px;
  border-radius: 90px;
  font-weight: 500;
  font-size: 18px;
  line-height: 1.2;
  color: #fff;
  background-color: var(--ocean-green-color);
  -webkit-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}
.btn__enter {
  padding: 20px;
  max-width: 110px;
  font-size: 16px;
}
.btn__enter-svg {
  margin-right: 6px;
  width: 15px;
  height: 16px;
  fill: var(--light-color);
}
.btn:focus {
  outline: none;
}
@media (any-hover: hover) {
  .btn:hover {
    background-color: var(--havelock-blue-color);
  }
}
.btn:active {
  background-color: var(--east-bay-color);
}
.btn.focus-visible {
  outline: 1px solid var(--east-bay-color);
  outline-offset: 3px;
}

.frame {
  padding: 12px 20px;
  border-radius: 90px;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: var(--seashell-color);
  background-color: var(--ocean-two-color);
}

.title {
  margin: 0;
  font-weight: 500;
  font-size: 56px;
  line-height: 1.2;
  color: var(--text-color);
}

.text {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.2;
  color: var(--text-color);
}

.header {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 10;
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: 19px;
  padding-bottom: 10px;
}

.hero {
  margin: 10px;
  margin-bottom: 97px;
  border-radius: 20px;
  min-height: 753px;
  background: url("../img/dots-2.png") top/cover no-repeat, url("../img/dots-1.png") bottom/cover no-repeat, linear-gradient(314deg, #67b88d 0%, #33eb88 16.5%, #6df1aa 33.5%, #fff 53.5%, #5da0e2 100%), rgba(255, 255, 255, 0.55);
}
.hero__left {
  padding-top: 233px;
  -ms-grid-column-span: 7;
  grid-column: 7 span;
}
.hero__benefits {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 50px;
  padding: 26px 46px;
  border: 1px solid rgba(50, 51, 69, 0.31);
  border-radius: 90px;
}
.hero__benefits-svg {
  margin-right: 8px;
  width: 18px;
  height: 20px;
  fill: var(--tuna-color);
}
.hero__benefits-desc {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  color: var(--tuna-color);
}
.hero__title {
  margin-bottom: 50px;
}
.hero__right {
  padding-top: 310px;
  -ms-grid-column-span: 5;
  grid-column: 5 span;
}

.benefits {
  margin-bottom: 36px;
}
.benefits__list {
  gap: 20px;
}
.benefits__item {
  padding-top: 50px;
  padding-left: 50px;
  border-radius: 20px;
}
.benefits__item-conveniently {
  position: relative;
  padding: 70px 50px;
  -ms-grid-column-span: 12;
  grid-column: 12 span;
  background-color: var(--light-color);
}
.benefits__item-center {
  -ms-grid-column-span: 4;
  grid-column: 4 span;
}
.benefits__item-available {
  background-color: var(--surf-crest-color);
}
.benefits__item-effectively {
  background-color: var(--east-bay-color);
}
.benefits__item-advantageous {
  background-color: var(--havelock-blue-color);
}
.benefits__item-safely {
  position: relative;
  padding-left: 0;
  padding-top: 194px;
  padding-bottom: 174px;
  grid-column: 7/5 span;
}
.benefits__frame {
  display: inline-block;
  margin-bottom: 22px;
}
.benefits__frame-advantageous {
  color: var(--text-color);
  background-color: var(--seashell-color);
}
.benefits__title {
  margin-bottom: 36px;
  font-size: 36px;
}
.benefits__title-conveniently {
  max-width: 522px;
}
.benefits__title-center {
  font-size: 30px;
  color: var(--seashell-color);
}
.benefits__title-available {
  max-width: 313px;
  color: var(--text-color);
}
.benefits__title-safely {
  max-width: 420px;
  font-size: 40px;
}
.benefits__text {
  max-width: 421px;
  font-size: 20px;
}
.benefits__text-center {
  font-size: 18px;
  color: var(--seashell-color);
}
.benefits__text-available {
  max-width: 313px;
  color: var(--text-color);
}
.benefits__text-advantageous {
  max-width: 300px;
}
.benefits__text-safely {
  max-width: 450px;
  font-size: 24px;
}
.benefits__image-conveniently {
  position: absolute;
  top: -45px;
  right: 81px;
}
.benefits__image-safely {
  position: absolute;
  top: 110px;
  right: 450px;
}

.ticker {
  margin-bottom: 87px;
}
.ticker__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  gap: 20px;
}
.ticker__wrap:not(:last-child) {
  margin-bottom: 20px;
}
.ticker__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  gap: 20px;
}
.ticker__item {
  padding: 13px 35px;
  border: 1px solid var(--havelock-blue-color);
  border-radius: 86px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.2;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  color: var(--text-color);
  background-color: var(--light-color);
}

.session {
  padding: 81px 0;
  margin-bottom: 81px;
}
.session__title {
  font-size: 46px;
  text-align: center;
  margin-bottom: 81px;
}
.session__list {
  position: relative;
}
.session__item {
  -ms-grid-column-span: 4;
  grid-column: 4 span;
}
.session__item-line {
  position: absolute;
  top: 29%;
  left: 18%;
  z-index: -10;
  border: 1px dashed rgba(25, 27, 68, 0.23);
  width: 64%;
  height: 0px;
}
.session__img-block {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 27px;
  width: 120px;
  height: 120px;
}
.session__tick {
  position: absolute;
  right: 34px;
  bottom: 24px;
  width: 21px;
  height: 21px;
  fill: var(--havelock-blue-color);
}
.session__desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  font-size: 24px;
  text-align: center;
}

.firstSession {
  margin: 0 10px;
  margin-bottom: 90px;
  padding: 129px 0;
  border-radius: 20px;
  background-color: var(--surf-crest-color);
}
.firstSession__left {
  -ms-grid-column-span: 7;
  grid-column: 7 span;
}
.firstSession__duration {
  display: inline-block;
  margin-bottom: 39px;
  padding: 16px 20px;
  border: 1px solid rgba(30, 30, 30, 0.59);
  border-radius: 90px;
}
.firstSession__duration-desc {
  font-weight: 600;
  font-size: 12px;
  line-height: 1.2;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: var(--text-color);
}
.firstSession__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-bottom: 58px;
  font-size: 46px;
  line-height: 1.1;
}
.firstSession__notice {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}
.firstSession__notice-percentage {
  margin-top: -9px;
  margin-bottom: 50px;
  font-weight: 500;
  font-size: 100px;
  color: var(--havelock-blue-color);
}
.firstSession__notice-desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  font-size: 24px;
}
.firstSession__right {
  position: relative;
  -ms-grid-column-span: 5;
  grid-column: 5 span;
}
.firstSession__right-image {
  position: absolute;
  top: -47px;
  left: 0;
}

.ourAssistance {
  padding: 90px 0;
}
.ourAssistance__container {
  position: relative;
}
.ourAssistance__title {
  margin-bottom: 28px;
  font-size: 46px;
}
.ourAssistance__desc {
  display: inline-block;
  margin-bottom: 78px;
  font-size: 24px;
}
.ourAssistance__btns {
  position: absolute;
  top: 0;
  right: 0;
  width: 112px;
  height: 80px;
}
.ourAssistance__slider-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 37px;
  border: 1px solid var(--east-bay-color);
  width: 40px;
  height: 40px;
  color: var(--seashell-color);
  background-color: var(--east-bay-color);
}
.ourAssistance__slider-btn::after {
  font-size: 12px;
}
.ourAssistance__slider-btn--next::after {
  margin-left: 1px;
}
.ourAssistance__slider-btn--prev::after {
  margin-right: 2px;
}
.ourAssistance__slider-btn:focus {
  outline: none;
}
@media (any-hover: hover) {
  .ourAssistance__slider-btn:hover {
    border: 1px solid var(--havelock-blue-color);
    background-color: var(--havelock-blue-color);
  }
}
.ourAssistance__slider-btn:active {
  background-color: var(--east-bay-color);
}
.ourAssistance__slider-btn.focus-visible {
  outline: 1px solid var(--east-bay-color);
  outline-offset: 3px;
}
.ourAssistance__wrapper {
  padding-left: max(15px, (100% - var(--content-width)) / 2);
}
.ourAssistance__sliders {
  padding-top: 30px;
  padding-left: 35px;
  padding-bottom: 90px;
}
.ourAssistance__card {
  position: relative;
  padding-top: 66px;
  padding-left: 58px;
  border-radius: 20px;
  max-width: 413px;
  height: 504px;
}
.ourAssistance__card-surf {
  background-color: var(--surf-crest-color);
}
.ourAssistance__card-east {
  background-color: var(--east-bay-color);
}
.ourAssistance__card-havelock {
  background-color: var(--havelock-blue-color);
}
.ourAssistance__card-content {
  max-width: 313px;
}
.ourAssistance__card-title {
  margin-bottom: 31px;
  font-size: 24px;
}
.ourAssistance__card-title_white {
  color: var(--seashell-color);
}
.ourAssistance__card-quotes {
  width: 29px;
  height: 25px;
  margin-bottom: 17px;
}
.ourAssistance__card-quotes_white {
  fill: var(--seashell-color);
}
.ourAssistance__card-text_white {
  color: var(--seashell-color);
}
.ourAssistance__card-smiley {
  position: absolute;
  right: -90px;
  bottom: -90px;
  width: 400px;
  height: 400px;
}
.ourAssistance__card-smiley_dual {
  right: -30px;
}
.ourAssistance__card-smiley_high {
  bottom: -60px;
}
.ourAssistance__card-smiley_white {
  fill: var(--seashell-color);
}

.messagesSent {
  padding-top: 145px;
  padding-bottom: 170px;
}
.messagesSent__content {
  row-gap: 32px;
}
.messagesSent__number {
  -ms-grid-column-span: 4;
  grid-column: 4 span;
  -ms-grid-column-align: end;
  justify-self: end;
  font-weight: 700;
  font-size: 60px;
  line-height: 1;
  color: var(--havelock-blue-color);
}
.messagesSent__text {
  -ms-grid-column-span: 8;
  grid-column: 8 span;
  font-size: 60px;
  line-height: 1;
}
.messagesSent__desc {
  -ms-grid-column-span: 12;
  grid-column: 12 span;
  font-size: 20px;
  text-align: center;
  opacity: 0.7;
}

.service {
  padding: 0 10px 15px;
}
.service__list {
  gap: 20px;
}
.service__item {
  border-radius: 20px;
}
.service__item-top {
  -ms-grid-column-span: 12;
  grid-column: 12 span;
  padding-top: 116px;
  padding-bottom: 132px;
  background: linear-gradient(221deg, #a8dec1 0%, #b7d7f0 100%), rgba(255, 255, 255, 0.4);
}
.service__item-bottom {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-grid-column-span: 6;
  grid-column: 6 span;
  padding-top: 51px;
  padding-left: 40px;
  min-height: 486px;
}
.service__item-bottom--left {
  background-image: url("../img/service-bt-img-1.png");
  /* stylelint-disable-next-line declaration-block-no-duplicate-properties */
  background-image: -webkit-image-set("../img/service-bt-img-1.webp" type("image/webp"), "../img/service-bt-img-1.png" type("image/png"));
  background-image: image-set("../img/service-bt-img-1.webp" type("image/webp"), "../img/service-bt-img-1.png" type("image/png"));
  background-position: center bottom 35px;
  background-size: 350px 300px;
  background-repeat: no-repeat;
  background-color: var(--ocean-green-color);
}
.service__item-bottom--right {
  background-image: url("../img/service-bt-img-2.png");
  /* stylelint-disable-next-line declaration-block-no-duplicate-properties */
  background-image: -webkit-image-set("../img/service-bt-img-2.webp" type("image/webp"), "../img/service-bt-img-2.png" type("image/png"));
  background-image: image-set("../img/service-bt-img-2.webp" type("image/webp"), "../img/service-bt-img-2.png" type("image/png"));
  background-position: center bottom 50px;
  background-size: 300px 300px;
  background-repeat: no-repeat;
  background-color: var(--havelock-blue-color);
}
.service__image {
  display: block;
  margin: 0 auto;
  margin-bottom: 39px;
}
.service__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 54px;
  line-height: 1.1;
}
.service__tick {
  margin-right: 24px;
  width: 46px;
  height: 46px;
  fill: var(--light-color);
}
.service__text {
  max-width: 535px;
  font-weight: 500;
  font-size: 24px;
  color: var(--light-color);
}

.tariffs__container {
  padding: 90px 0;
}
.tariffs__title {
  margin-bottom: 64px;
  font-size: 46px;
  text-align: center;
}
.tariffs__list-small {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  row-gap: 30px;
  margin-bottom: 50px;
}
.tariffs__item {
  -ms-grid-column-span: 4;
  grid-column: 4 span;
  padding: 49px 50px 46px;
  border-radius: 20px;
  background-color: var(--surf-crest-color);
}
.tariffs__item-bay {
  background-color: var(--east-bay-color);
}
.tariffs__item-small {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-column-gap: 17px;
  -moz-column-gap: 17px;
  column-gap: 17px;
}
.tariffs__price {
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 20px;
  padding: 5px 10px;
  border-radius: 21px;
  font-weight: 600;
  font-size: 10px;
  line-height: 1.2;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  color: var(--text-color);
  background-color: var(--seashell-color);
}
.tariffs__price-discount {
  color: var(--seashell-color);
  background-color: var(--havelock-blue-color);
}
.tariffs__caption {
  margin-bottom: 36px;
  font-size: 30px;
}
.tariffs__caption-white {
  color: var(--light-color);
}
.tariffs__dot {
  margin-bottom: 3px;
  border-radius: 100%;
  width: 9px;
  height: 9px;
  fill: var(--dodger-blu-color);
}
.tariffs__dot-white {
  fill: var(--light-color);
}
.tariffs__text {
  font-size: 18px;
  opacity: 0.8;
}
.tariffs__text-white {
  color: var(--light-color);
}
.tariffs__link {
  margin-bottom: 14px;
}
.tariffs__desc {
  text-align: center;
  opacity: 0.7;
}
.tariffs__desc-white {
  color: var(--light-color);
}

.empty {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 553px;
}
.empty__image {
  margin-bottom: 30px;
}
.empty__title {
  font-size: 20px;
  text-align: center;
}

.questions__container {
  padding-top: 90px;
  padding-bottom: 60px;
}
.questions__title {
  margin-bottom: 28px;
  font-size: 46px;
}
.questions__subtitle {
  display: inline-block;
  margin-bottom: 44px;
  font-size: 24px;
}
.questions__left {
  background-image: url("../img/questions-bg-img.png");
  /* stylelint-disable-next-line declaration-block-no-duplicate-properties */
  background-image: -webkit-image-set("../img/questions-bg-img.webp" type("image/webp"), "../img/questions-bg-img.png" type("image/png"));
  background-image: image-set("../img/questions-bg-img.webp" type("image/webp"), "../img/questions-bg-img.png" type("image/png"));
  -ms-grid-column-span: 6;
  grid-column: 6 span;
  margin-bottom: 56px;
  padding: 82px 50px;
  border-radius: 20px;
  background-position: right;
  background-size: contain;
  background-repeat: no-repeat;
  background-color: var(--surf-crest-color);
}
.questions__left-caption {
  margin-bottom: 36px;
  font-size: 30px;
}
.questions__left-text {
  max-width: 313px;
  font-size: 18px;
}
.questions__right {
  grid-column: 8/5 span;
}
.questions__address {
  font-style: normal;
}
.questions__address-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 34px;
  -moz-column-gap: 34px;
  column-gap: 34px;
}
.questions__address-item:not(:last-child) {
  margin-bottom: 44px;
}
.questions__address-svg {
  width: 52px;
  height: 52px;
}
.questions__address-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  row-gap: 5px;
}
.questions__address-desc {
  font-weight: 500;
  font-size: 18px;
  line-height: 1.4;
  opacity: 0.4;
}
.questions__address-mail {
  font-weight: 500;
  font-size: 24px;
  line-height: 1.4;
  color: var(--text-color);
  -webkit-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}
.questions__address-mail:focus {
  outline: none;
}
@media (any-hover: hover) {
  .questions__address-mail:hover {
    color: var(--havelock-blue-color);
  }
}
.questions__address-mail:active {
  color: var(--ocean-green-color);
}
.questions__address-text {
  font-weight: 500;
  font-size: 24px;
}

.footer {
  margin: 10px;
  margin-bottom: 0;
  padding: 60px 0 70px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  -webkit-backdrop-filter: blur(6px);
  backdrop-filter: blur(6px);
  background: linear-gradient(224deg, #a8dec1 0%, #8fc4f8 100%), rgba(255, 255, 255, 0.23);
}
.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.footer__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  row-gap: 12px;
}
.footer__center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 86px;
  -moz-column-gap: 86px;
  column-gap: 86px;
}
.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  row-gap: 30px;
}
.footer__link {
  font-weight: 500;
  line-height: 0;
  -webkit-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}
.footer__link:focus {
  outline: none;
}
@media (any-hover: hover) {
  .footer__link:hover {
    color: var(--havelock-blue-color);
  }
}
.footer__link:active {
  color: var(--ocean-green-color);
}
.footer__right-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  row-gap: 30px;
}
.footer__copyright {
  font-size: 14px;
  line-height: 1.4;
  color: rgba(30, 30, 30, 0.7);
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 30px;
  border-radius: 900px;
  padding: 26px 55px;
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  background-color: rgba(255, 255, 255, 0.4);
}
.nav__link {
  font-weight: 500;
  font-size: 16px;
  color: var(--text-color);
  -webkit-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}
.nav__link:focus {
  outline: none;
}
@media (any-hover: hover) {
  .nav__link:hover {
    color: var(--havelock-blue-color);
  }
}
.nav__link:active {
  color: var(--ocean-green-color);
}

.nav__link.focus-visible {
  outline: 1px solid var(--ocean-green-color);
  outline-offset: 3px;
}

@-webkit-keyframes closing {
  from {
    display: block;
    visibility: visible;
    opacity: 1;
  }
  to {
    display: none;
    visibility: hidden;
    opacity: 0;
  }
}

@keyframes closing {
  from {
    display: block;
    visibility: visible;
    opacity: 1;
  }
  to {
    display: none;
    visibility: hidden;
    opacity: 0;
  }
}
.chat__message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}
.chat__image {
  margin-right: 20px;
  width: 50px;
  height: 50px;
}
.chat__block {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 358px;
  padding-left: 28px;
  padding-right: 28px;
}
.chat__user-block {
  padding-top: 20px;
  min-height: 115px;
  background-image: url("../img/chat-fon-1.png");
}
.chat__user-text {
  max-width: 270px;
  color: var(--light-color);
}
.chat__admin-block {
  padding-top: 50px;
  min-height: 173px;
  background-image: url("../img/chat-fon-2.png");
}
.chat__admin-text {
  width: 100%;
}
.chat__admin-image {
  margin-top: 30px;
}

.animate__fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -50%, 0);
    transform: translate3d(0, -50%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -50%, 0);
    transform: translate3d(0, -50%, 0);
  }
  to {
    opacity: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
  }
}
.ourAssistance__slide {
  -webkit-transform: translateY(80px) rotate(3deg);
  -ms-transform: translateY(80px) rotate(3deg);
  transform: translateY(80px) rotate(3deg);
  -webkit-transition: -webkit-transform 0.7s ease-in-out;
  transition: -webkit-transform 0.7s ease-in-out;
  transition: transform 0.7s ease-in-out;
  transition: transform 0.7s ease-in-out, -webkit-transform 0.7s ease-in-out;
}

.swiper-slide-active {
  -webkit-transform: rotate(-8deg);
  -ms-transform: rotate(-8deg);
  transform: rotate(-8deg);
  -webkit-transition: -webkit-transform 0.7s ease-in-out;
  transition: -webkit-transform 0.7s ease-in-out;
  transition: transform 0.7s ease-in-out;
  transition: transform 0.7s ease-in-out, -webkit-transform 0.7s ease-in-out;
}

.swiper-slide-next {
  -webkit-transform: translateY(0px) rotate(0deg);
  -ms-transform: translateY(0px) rotate(0deg);
  transform: translateY(0px) rotate(0deg);
  -webkit-transition: -webkit-transform 0.7s ease-in-out;
  transition: -webkit-transform 0.7s ease-in-out;
  transition: transform 0.7s ease-in-out;
  transition: transform 0.7s ease-in-out, -webkit-transform 0.7s ease-in-out;
}

.ourAssistance__slider-btn.swiper-button-disabled {
  border: 1px solid var(--text-color);
  opacity: 1;
  color: var(--text-color);
  background-color: transparent;
}

.questions__accordion:not(:last-of-type) {
  margin-bottom: 20px;
}
.questions__accordion .accordion__control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-column-gap: 27px;
  -moz-column-gap: 27px;
  column-gap: 27px;
  padding: 22px 26px;
  padding-right: 0;
  border-radius: 20px;
  background-color: var(--light-color);
}
.questions__accordion .accordion__control:focus {
  outline: 2px solid var(--havelock-blue-color);
  outline-offset: 2px;
}
.questions__accordion .accordion__title {
  font-size: 24px;
}
.questions__accordion .accordion__title-white {
  margin-bottom: 35px;
  color: var(--light-color);
}
.questions__accordion .accordion__content {
  padding: 0;
}
.questions__accordion .accordion__content-wrap {
  padding: 22px 0 39px 88px;
  border-radius: 20px;
  background-color: var(--east-bay-color);
}
.questions__accordion .accordion__icon {
  background-image: url("../img/accordion-img.png");
  /* stylelint-disable-next-line declaration-block-no-duplicate-properties */
  background-image: -webkit-image-set("../img/accordion-img.webp" type("image/webp"), "../img/accordion-img.png" type("image/png"));
  background-image: image-set("../img/accordion-img.webp" type("image/webp"), "../img/accordion-img.png" type("image/png"));
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: inline-block;
  width: 35px;
  height: 35px;
  border-radius: 100%;
  background-size: 17px 17px;
  background-color: var(--havelock-blue-color);
  -webkit-transition: background-color var(--accordion-time) ease-out, -webkit-transform var(--accordion-time) ease-out;
  transition: background-color var(--accordion-time) ease-out, -webkit-transform var(--accordion-time) ease-out;
  transition: transform var(--accordion-time) ease-out, background-color var(--accordion-time) ease-out;
  transition: transform var(--accordion-time) ease-out, background-color var(--accordion-time) ease-out, -webkit-transform var(--accordion-time) ease-out;
}
.questions__accordion .accordion__text {
  max-width: 550px;
  color: rgba(255, 255, 255, 0.85);
}

.is-open .accordion__icon {
  background-color: var(--ocean-two-color);
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.is-open .accordion__content {
  padding-top: 20px;
  opacity: 1;
}
/*# sourceMappingURL=main.css.map */