<header class="header">
  <div class="container-fluid header__container">
    <a href="#" class="logo">
      <img
        loading="lazy"
        src="./img/logo.svg"
        class="logo__image"
        width="135"
        height="43"
        alt="Логотип мои мысли"
      />
    </a>
    <nav class="nav" title="Главное меню">
      <ul class="list-reset nav__list">
        <li class="nav__item">
          <a href="#" class="nav__link" data-scroll>С чем поможет</a>
        </li>
        <li class="nav__item">
          <a href="#" class="nav__link" data-scroll>Тарифы</a>
        </li>
        <li class="nav__item">
          <a href="#" class="nav__link" data-scroll>Вопросы и ответы</a>
        </li>
      </ul>
    </nav>
    <button class="btn btn-reset btn__enter">
      <svg class="btn__enter-svg">
        <use xlink:href="img/sprite.svg#enter"></use>
      </svg>
      Войти
    </button>
  </div>
</header>
