<section class="hero">
  <div class="container hero__container grid">
    <div class="hero__left">
      <div class="hero__benefits">
        <svg class="hero__benefits-svg">
          <use xlink:href="img/sprite.svg#benefits"></use>
        </svg>
        <span class="hero__benefits-desc">Инновационный продукт</span>
      </div>
      <h1 class="title hero__title">
        Искусственный интеллект в роли психолога
      </h1>
      <a href="#" class="btn hero__link">Попробовать бесплатно</a>
    </div>
    <div class="hero__right"></div>
  </div>
</section>
